/* Some extra non-bootstrap CSS for ActivEats */

/* Enable responsive columns (shopping lists) */

#article {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

body {
    background-color: #f8efe9;
    font-family: "Roboto Condensed";
}

/* Home Page */

#splash-body {
    background-color: #01172f;
}

#hero-image {
    background: url("/static/img/SplitShire_IMG_9951.jpg") no-repeat center center;
    background-size: cover;
}

#splash-text {
    background-color: #01172f;
    color: white;
}

#centered-col {
    margin: 0 auto;
}

#white-menu {
    color: white !important;
}

#splash-title {
    width: 250px;
}


/* Login/Register Page */

#login-tab {
    color: #485665 !important;
}

#register-tab {
    color: #486556 !important;
}


/*User Profile*/
    /*Strava Branded Content*/

#strava-link {
    color: #FC4C02;
    font-size: small;
    font-weight: 700;
}

#strava-img {
    float: right;
}


/* Generic; whole site */

a {
    color: #32aca5;
}

.list-group-item.active {
    background-color: #485665;
    border-color: #01172f;
}

.btn.btn-light.btn-sm.float-right {
    background-color: #f8efe9;
}

.list-group-item {
    border-color: #01172f;
}

.card-header.bg-primary.text-light {
    background-color: #485665 !important; 
    border-color: #01172f !important;   
}

.card {
    border-color: #01172f !important;
}

.btn-primary {
    background-color: #ea4f76;
    border-color: #ced4da;    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #802c41;
    border-color: #ced4da; /*set the color you want here*/
}


/* Navbar Styling */

.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #01172f !important;
}

#pink-menu {
    color: #ea4f76 !important;
}

#navbarDropdown {
    color: #ea4f76 !important;
}

.nav-link {
    color: white !important;
}
