{% extends 'base.html' %}
{% block title %}{{ recipe_text.recipe_name }}{% endblock %}

{% block content %}
<h1>Here's a Full Recipe</h1>
<div class="row">
  <div class="col-sm-6">
<h3 id="recipe-name">{{ recipe_text.recipe_name }}</h3>
{% if recipe_text.recipe_author is not none %}
by {{ recipe_text.recipe_author }}
{% endif %}
<br><br>
{% if recipe_text.photo_url is not none %}
<img src="{{ recipe_text.photo_url }}" height=200px>
{% endif %}
<hr>
{% if recipe_text.text_servings is not none %}
{{ recipe_text.text_servings }}
{% endif %}
<br>
{% if recipe_text.total_time is not none %}
<b>Total Time:</b> {{ recipe_text.total_time }}
{% endif %}
{% if recipe_text.prep_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Prep Time:</b> {{ recipe_text.prep_time }}
{% endif %}
{% if recipe_text.cook_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Cook Time:</b> {{ recipe_text.cook_time }}
{% endif %}
{% if recipe_text.active_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Active Time:</b> {{ recipe_text.active_time }}
{% endif %}
{% if recipe_text.inactive_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Inactive Time:</b> {{ recipe_text.inactive_time }}
{% endif %}
<hr>
<h5>Categories:</h5>
{% for item in recipe_text.recipe_categories %}
<a href='/categories/{{ item.category_tags.category_id }}'>{{ item.category_tags.category_name }}</a>{% if not loop.last %},&nbsp;{% endif %}
{% endfor %}
 </div>
  <div class="col-sm-6">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title shopping-title">Generate Shopping List</h5>
        <p class="card-text shopping-list">Click the button to generate a shopping list for this recipe</p>
        <a href="#" class="btn btn-primary shopping-button">Generate</a><div id="email-results"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<h4>Ingredients</h4>
<ul>
    {% for item in recipe_text.text_ingredients %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
<hr>
<h4>Preparation Instructions</h4>
<ul>
    {% for item in recipe_text.preparation %}
        <li>{{ item }}</li>
    {% endfor %} 
</ul>
<br>
<a href="{{ recipe_text.recipe_url }}">Click</a> to view original.

<script type="text/javascript">
let $jq = jQuery.noConflict();

function emailSentConfirm(results) {
    let emailStatus = results;
    document.querySelector('#email-results').innerText = "&nbsp;&nbsp; Email Successful";
}

function emailShoppingList(evt) {
    let listContent = document.querySelector('.shopping-list').innerText;
    let recipeName = document.querySelector('#recipe-name').innerText;
    console.log(listContent);
    $jq.post("/send",
             {'list_content': listContent,
              'recipe_name': recipeName},
             emailSentConfirm);
}

function generateShoppingList(evt) {
    // let ingredients = "{{ recipe_text.recipe_ingredients }}";
    // console.log(ingredients);
    document.querySelector('.shopping-title').innerText = "Shopping List";
    document.querySelector('.shopping-list').innerHTML = "<ul>{% for item in shopping_list %}<li>{{ item[1] }} {{ item[2] }} {{ item[0] }}</li>{% endfor %}</ul>";
    document.querySelector('.shopping-button').innerText = "Email This List";
    document.querySelector('.shopping-button').setAttribute('id', 'email-button');

    document.querySelector('#email-button').addEventListener('click', emailShoppingList);
}

document.querySelector('.shopping-button').addEventListener('click', generateShoppingList);
console.log("WHY OH WHY");
</script>
{% endblock %}