{% extends 'base.html' %}
{% block title %}{{ recipe_text.recipe_name }}{% endblock %}

{% block content %}
<br><br>
<!-- <h1>Here's a Full Recipe</h1> -->
<div class="row">
  <div class="col-sm-6">
<h1 id="recipe-name"><img src="/static/img/salad_black.png" width="50px">&nbsp;&nbsp;{{ recipe_text.recipe_name }}</h1>
{% if recipe_text.recipe_author is not none %}
by {{ recipe_text.recipe_author }}
{% endif %}
<br><br>
{% if recipe_text.photo_url is not none %}
<img src="{{ recipe_text.photo_url }}" height=200px>
{% endif %}
<hr>
{% if recipe_text.text_servings is not none %}
{{ recipe_text.text_servings }}
{% endif %}
<br>
{% if recipe_text.total_time is not none %}
<b>Total Time:</b> {{ recipe_text.total_time }}
{% endif %}
{% if recipe_text.prep_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Prep Time:</b> {{ recipe_text.prep_time }}
{% endif %}
{% if recipe_text.cook_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Cook Time:</b> {{ recipe_text.cook_time }}
{% endif %}
{% if recipe_text.active_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Active Time:</b> {{ recipe_text.active_time }}
{% endif %}
{% if recipe_text.inactive_time is not none %}
&nbsp;&nbsp;|&nbsp;&nbsp;<b>Inactive Time:</b> {{ recipe_text.inactive_time }}
{% endif %}
<hr>
<h5>Categories:</h5>
{% for item in recipe_text.recipe_categories %}
<a href='/categories/{{ item.category_tags.category_id }}'>{{ item.category_tags.category_name }}</a>{% if not loop.last %},&nbsp;{% endif %}
{% endfor %}

<hr>
<h4>Ingredients</h4>
<ul>
    {% for item in recipe_text.text_ingredients %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>



 </div>
  <div class="col-sm-6">
    <div class="card bg-light mb-3">
      <div class="card-body">
<!--         Generate Shopping List -->
        <h5 class="card-title shopping-title"><img src="/static/img/shopping_list_logo.png" alt="Generate Shopping List" id="shopping-title" width="150px"></h5>
        <p class="card-text shopping-list">Click the button to generate a shopping list for this recipe</p>
        <form name="notLoggedIn" id="notLoggedIn" style="float: left"></form><a href="#" class="btn btn-primary shopping-button" id="generate-button">Generate</a><div id="email-results" style="display:none"><h3>Email Successful!</h3></div>
      </div>
    </div>
  </div>
</div>





<hr>
<h4>Preparation Instructions</h4>
<ul>
    {% for item in recipe_text.preparation %}
        <li>{{ item }}</li>
    {% endfor %} 
</ul>
<br>
<a href="{{ recipe_text.recipe_url }}">Click to view original.</a>

<script type="text/javascript">
let $jq = jQuery.noConflict();

function emailSentConfirmLoggedOut(results) {
    let emailStatus = results;
    document.querySelector('#email-results').setAttribute("style", "display:unset");
    document.querySelector('#email-button').setAttribute("style", "display:none");
        document.querySelector('#inputEmail').setAttribute("style", "display:none");
}

function emailSentConfirm(results) {
    let emailStatus = results;
    document.querySelector('#email-results').setAttribute("style", "display:unset");
    document.querySelector('#generate-button').setAttribute("style", "display:none");
}

function emailShoppingList(evt) {
    let listContent = document.querySelector('.shopping-list').innerText;
    let recipeName = document.querySelector('#recipe-name').innerText;

$jq.post("/send",
         {'list_content': listContent,
          'recipe_name': recipeName},
         emailSentConfirm);

}

function emailLoggedOut(evt) {
    let userEmail = document.querySelector('#inputEmail').value;
    
    let listContent = document.querySelector('.shopping-list').innerText;
    let recipeName = document.querySelector('#recipe-name').innerText;

    if (userEmail) {
    $jq.post("/send",
             {'list_content': listContent,
              'recipe_name': recipeName,
              'user_email': userEmail},
              emailSentConfirmLoggedOut);
    }   else {
            $jq.post("/send",
                     {'list_content': listContent,
                      'recipe_name': recipeName},
                     emailSentConfirmLoggedOut);
        }

}


function generateShoppingList(evt) {
    document.querySelector('.shopping-button').removeEventListener('click', generateShoppingList);
    // document.querySelector('.shopping-title').innerText = "Shopping List";
    document.querySelector('.shopping-list').innerHTML = "<ul>{% for item in shopping_list %}{% if item[1] is not none and item[2] is not none %}<li>{{ item[1] }} {{ item[2] }} {{ item[0] }}</li>{% elif item[1] is not none %}<li>{{ item [1] }} {{ item[0] }}</li>{% else %}<li>{{ item[0] }}</li>{% endif %}{% endfor %}</ul>";
    document.querySelector('.shopping-button').innerText = "Email This List";

    if (typeof {{ session['user_id'] }} === 'undefined') {
        document.querySelector('.shopping-button').setAttribute('id', 'email-button');
        document.querySelector('#notLoggedIn').innerHTML = '<input name="email" class="form-control" id="inputEmail" placeholder="Email This List">';
        document.querySelector('.shopping-button').innerText = "Send";
        document.querySelector('.shopping-button').classList.add('float-right');
        document.querySelector('.shopping-button').addEventListener('click', emailLoggedOut);
    }   
    else {
        document.querySelector('.shopping-button').addEventListener('click', emailShoppingList);
        }    
}

document.querySelector('.shopping-button').addEventListener('click', generateShoppingList);
</script>
{% endblock %}