{% extends 'base.html' %}
{% block title %}Let's Eat!{% endblock %}

{% block content %}
<h1>Welcome to ActivEats</h1>
<div class="card text-white bg-info mb-3">
    <div class="card-header">FEATURED RECIPE</div>
  <img class="card-img-top" src="{{ recipe.photo_url }}" alt="{{ recipe.recipe_name }}">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
    <a href="/recipes/{{ recipe.recipe_id }}" class="btn btn-primary">View Recipe</a>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

{% endblock %}