<!doctype html>

<html>

<head>
    <title>ActivEats: Let's Eat!</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="shortcut icon" href="/static/img/ActivEats.ico">
</head>


<body id="splash-body">

    <div id="hero-image">

    <nav class="navbar sticky-top navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/static/img/ActivEats-Logo.png" alt="ActivEats" width=300px></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

<!--             <li class="nav-item active">
              <a class="nav-link" href="/" id="white-menu">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/recipes" id="white-menu">All Recipes</a>
            </li>

        {% if session.get('username') %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MyEats</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="dropDownSwap">
              <a class="dropdown-item" href="/my_week">Meal Plan</a>
              <a class="dropdown-item" href="/profile/{{ session['user_id'] }}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login" id="pink-menu">Log In</a>
          </li>
        {% endif %}

          </ul>
        </div>
    </nav>

<!-- Flashed Messages -->

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Search Bar -->

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <form class="form-inline" action="/search">
                        <input type="text" class="form-control" name="search_term" placeholder="Find a Recipe" style="width:85%">
                        &nbsp;&nbsp;<button type="submit" class="btn btn-primary">Search</button>
                    
            </form>


        </div>
        <div class="col-3"></div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>


<!-- Card Deck -- About Site -->

<br>
<br>

<div class="container">

    <div class="col-10" id="centered-col">

        <div class="card-deck">
          <div class="card text-center" id="splash-icon">
            <img class="card-img-top" src="/static/img/salad.png" alt="Salad">
            <div class="card-body" id="splash-text">
              <h5 class="card-title"><img src="/static/img/set_preferences_title.png" alt="Set Preferences" id="splash-title"></h5>
              <p class="card-text">Registered users can set dietary preferences such as vegetarian, vegan, low-carb, or low calorie!</p>
            </div>
          </div>
          <div class="card text-center" id="splash-icon">
            <img class="card-img-top" src="/static/img/booking.png" alt="Meal Plan">
            <div class="card-body" id="splash-text">
              <h5 class="card-title"><img src="/static/img/meal_planning_title.png" alt="Meal Planning" id="splash-title"></h5>
              <p class="card-text">ActivEats can generate a weekly meal plan for you and email you a shopping list.</p>
            </div>
          </div>
          <div class="card text-center" id="splash-icon">
            <img class="card-img-top" src="/static/img/runner.png" alt="Runner">
            <div class="card-body" id="splash-text">
              <h5 class="card-title"><img src="/static/img/get_active_title.png" alt="Get Active!" id="splash-title"></h5>
              <p class="card-text">Connect your Strava account to track your weekly active calorie burn and compare it to the calorie intake in your meal plan.</p>
            </div>
          </div>
        </div>


    </div>
</div>

</body>


<!-- Force Drop Down to Work :'( -->

<script type="text/javascript">

function openDropdown(evt) {
    let menuToggle = document.querySelector("#dropDownSwap");

    if (menuToggle.classList.contains("show")) {
        menuToggle.classList.remove("show");
    }
    else {
        menuToggle.classList.add("show");
    }
}

if (typeof(document.querySelector("#navbarDropdown"))!== 'undefined') {
  document.querySelector("#navbarDropdown").addEventListener('click', openDropdown);
}
</script>



</html>