{% extends 'base.html' %}
{% block title %}My Weekly Meal Plan{% endblock %}
{% block content %}
<h1>Week of {{ now.month }}</h1>
<table>
    <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    <tr>
        <td>Breakfast</td>
        {% for recipe in breakfasts %}
        <td><a href='/recipes/{{ recipe.recipe_id }}'>{{ recipe.recipe_name }}</a></td>
        {% endfor %}
    </tr>
        <tr>
        <td>Lunch</td>
        {% for recipe in lunches %}
        <td><a href='/recipes/{{ recipe.recipe_id }}'>{{ recipe.recipe_name }}</a></td>
        {% endfor %}
    </tr>
        <tr>
        <td>Dinner</td>
        {% for recipe in dinners %}
        <td><a href='/recipes/{{ recipe.recipe_id }}'>{{ recipe.recipe_name }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}