{% extends 'base.html' %}
{% block title %}My Weekly Meal Plan{% endblock %}
{% block content %}
<h1><img src="/static/img/booking_black.png" width="50px">&nbsp;&nbsp;{{ session['username'] }}'s Meal Plan</h1>
<hr>
<h2 id="setName">Week of {{ start_day }}</h2>
<table class="table table-striped table-dark table-borderless">
    <tr class="d-flex">
        <th scope="col" class="col-2"></th>
        <th scope="col" class="col-2">Monday</th>
        <th scope="col" class="col-2">Tuesday</th>
        <th scope="col" class="col-2">Wednesday</th>
        <th scope="col" class="col-2">Thursday</th>
        <th scope="col" class="col-2">Friday</th>
    </tr>
    <tr class="d-flex">
        <th scope="col" class="col-2">Breakfast</th>
        {% for item in breakfasts %}
        <td class="col-2"><a href='/recipes/{{ item.recipe.recipe_id }}'>{{ item.recipe.recipe_name }}</a></td>
        {% endfor %}
    </tr>
    <tr class="d-flex">
        <th scope="col" class="col-2">Lunch</th>
        {% for item in lunches %}
        <td class="col-2"><a href='/recipes/{{ item.recipe.recipe_id }}'>{{ item.recipe.recipe_name }}</a></td>
        {% endfor %}
    </tr>
    <tr class="d-flex">
        <th scope="col" class="col-2">Dinner</th>
        {% for item in dinners %}
        <td class="col-2"><a href='/recipes/{{ item.recipe.recipe_id }}'>{{ item.recipe.recipe_name }}</a></td>
        {% endfor %}
    </tr>
</table>
<hr>
  <div class="col">
    <div class="card bg-light mb-3">
      <div class="card-body" id="shopping-list">
        <h5 class="card-title shopping-title"><img src="/static/img/shopping_list_email_logo.png" width="400px" id="shopping-title"></h5>
        <p class="card-text shopping-list">Click the button to generate a shopping list</p>
        <a href="#" class="btn btn-primary shopping-button">Generate</a>
        <a href="#" class="btn btn-primary email-button" style="display: none">Email This List</a>
        <div id="email-results" style="display:none"><h3>Email Successful!</h3></div>
      </div>
    </div>
  </div>
</div>


<!-- ###### JavaScript for Generating & Emailing Shopping List Here ###### -->
<script type="text/javascript">
let $jq = jQuery.noConflict();

function emailSentConfirm(results) {
    if (results==="Sent") {
        document.querySelector("#email-results").removeAttribute("style", "display:none");
        document.querySelector(".email-button").setAttribute("style", "display:none")
    }
}

function emailShoppingList(evt) {
    let listContent = document.querySelector('.shopping-list').innerText;
    let setName = document.querySelector('#setName').innerText;

    $jq.post("/send_all",
         {'list_content': listContent,
          'set_name': setName},
         emailSentConfirm);
}

function generateShoppingList(evt) {

    document.querySelector('#shopping-title').setAttribute("src", "/static/img/shopping_list_logo.png");
    document.querySelector('#shopping-title').setAttribute("width", "150px");
    document.querySelector('.shopping-list').innerHTML = '<ul id="article">{% for ingredient in ingredients %}{% if ingredient[1] == 0 %}<li>{{ ingredient[0] }}</li>{% elif ingredient[2] is none %}<li>{{ ingredient[1] }} pieces {{ ingredient[0] }}</li>{% else %}<li>{{ ingredient[1] }} {{ ingredient[2] }}s {{ ingredient[0] }}</li>{% endif %}{% endfor %}</ul>'
    document.querySelector('.shopping-button').setAttribute("style", "display: none");
    document.querySelector('.email-button').removeAttribute("style", "display: none");
    document.querySelector('.email-button').addEventListener("click", emailShoppingList);
}

document.querySelector('.shopping-button').addEventListener('click', generateShoppingList)

</script>
{% endblock %}